*public_barcode_count.Rproj
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.Rapp.history
*.DS_Store
**/analysis/*_cache
**/docs/site_libs/
.Rproj.user
## .rda files in output
output/*.rda
## secondary folders in analysis
analysis/BelderbosME/
analysis/DEBRA/
analysis/WuC/
analysis/bartools_dose_escalation/
## secondary folders in docs
docs/WuC/
docs/DEBRA/
## secondary folders in output
output/BelderbosME/
output/DEBRA/
output/WuC/
output/bartools_dose_escalation/
